*,
::before,
::after{
 box-sizing: border-box;
    margin:0;
    padding: 0;
}
@font-face {
    font-family: "GothSC";
    src: url(./Font/Carrois/Carrois_Gothic_SC/CarroisGothicSC-Regular.ttf);
}

@media screen and (max-width: 740px){

    header{
    background-image: url(./Img/forestmylove.jpg);
    background-size: cover;
    background-repeat: space;
    border-radius: 15px;
    padding-bottom: 4rem;    
}

    .Audio{
    width: 15rem;
    margin-top: 1rem;
    margin-left: 1.5rem;
    /* position: sticky; */
}


.HeaderDivPic{
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    height: 250px;
}


    .btn{
    background-color: rgba(8, 174, 180, 0.507);
    box-shadow: 1px 1px 2px rgb(33, 168, 51),
                0 0 1em rgba(0, 247, 255, 0.733),
                0 0 0.2em rgb(8, 175, 180);
    border: none;
    color: rgb(255, 255, 255);
    margin-bottom: 1rem;
    margin-top: 1rem;
    width: 80%;
    left: 0;
    border-radius: 20px;
}


.btn:hover{
    background-color: rgba(8, 174, 180, 0.507);
    box-shadow: 1px 1px 2px rgb(33, 168, 51),
                0 0 1em rgba(0, 247, 255, 0.733),
                0 0 0.2em rgb(8, 175, 180);
    border: none;
    color: rgb(255, 255, 255);
    margin-bottom: 1rem;
    margin-top: 1rem;
    width: 100%;
    left: 0;
    border-radius: 22px;
    
    cursor: pointer;
    transition: 1s;
}


.btn_mel{
    background-color: rgba(8, 174, 180, 0.507);
    box-shadow: 1px 1px 2px rgb(33, 168, 51),
                0 0 1em rgba(0, 247, 255, 0.733),
                0 0 0.2em rgb(8, 175, 180);
    border: none;
    color: rgb(255, 255, 255);
    margin-bottom: 1rem;
    margin-top: 1rem;
    width: 30%;
    left: 0;
    border-radius: 20px;
}


.btn_mel:hover{
    background-color: rgba(8, 174, 180, 0.507);
    box-shadow: 1px 1px 2px rgb(33, 168, 51),
                0 0 1em rgba(0, 247, 255, 0.733),
                0 0 0.2em rgb(8, 175, 180);
    border: none;
    color: rgb(255, 255, 255);
    margin-bottom: 1rem;
    margin-top: 1rem;
    width: 20%;
    left: 0;
    border-radius: 22px;
    
    cursor: pointer;
    transition: 1s;
}





#TheList > ul {
    list-style: none;
    width: 18rem;

}

.video_forest{
    width: 200px;
    height: 250px;
    box-shadow: 1px 1px 2px rgb(33, 168, 51),
                0 0 1em rgba(0, 247, 255, 0.733),
                0 0 0.2em rgb(8, 175, 180);
}

.VideoDiv{
    width: 100%;
    height: 150px;
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
}


}

@media screen and (min-width: 740px){

    header{
    background-image: url(./Img/forestmylove.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    padding-bottom: 4rem;    
}

    .Audio{
    width: 15rem;
    margin-top: 1rem;
    margin-left: 1.5rem;
    /* position: sticky; */
} 


.HeaderDivPic{
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

    .btn{
    background-color: rgba(8, 174, 180, 0.507);
    box-shadow: 1px 1px 2px rgb(33, 168, 51),
                0 0 1em rgba(0, 247, 255, 0.733),
                0 0 0.2em rgb(8, 175, 180);
    border: none;
    color: rgb(255, 255, 255);
    margin-bottom: 1rem;
    margin-top: 1rem;
    width: 95%;
    left: 0;
    border-radius: 20px;
    cursor: pointer;
}


    .btn:hover{
    background-color: rgba(8, 174, 180, 0.507);
    box-shadow: 1px 1px 2px rgb(33, 168, 51),
                0 0 1em rgba(0, 247, 255, 0.733),
                0 0 0.2em rgb(8, 175, 180);
    border: none;
    color: rgb(255, 255, 255);
    margin-bottom: 1rem;
    margin-top: 1rem;
    width: 100%;
    left: 0;
    border-radius: 22px;
    
    cursor: pointer;
    transition: 1s;
}


    .btn_mel{
    background-color: rgba(8, 174, 180, 0.507);
    box-shadow: 1px 1px 2px rgb(33, 168, 51),
                0 0 1em rgba(0, 247, 255, 0.733),
                0 0 0.2em rgb(8, 175, 180);
    border: none;
    color: rgb(255, 255, 255);
    margin-bottom: 1rem;
    margin-top: 1rem;
    width: 35%;
    left: 0;
    border-radius: 20px;
    cursor: pointer;
}

.btn_mel:hover{
    background-color: rgba(8, 174, 180, 0.507);
    box-shadow: 1px 1px 2px rgb(33, 168, 51),
                0 0 1em rgba(0, 247, 255, 0.733),
                0 0 0.2em rgb(8, 175, 180);
    border: none;
    color: rgb(255, 255, 255);
    margin-bottom: 1rem;
    margin-top: 1rem;
    width: 40%;
    left: 0;
    border-radius: 22px;
    
    cursor: pointer;
    transition: 1s;
}


#TheList > ul {
    list-style: none;
    width: 30rem;
}


.video_forest{
    width: 700px;
    height: 400px;
    box-shadow: 1px 1px 2px rgb(33, 168, 51),
                0 0 1em rgba(0, 247, 255, 0.733),
                0 0 0.2em rgb(8, 175, 180);
}


.VideoDiv{
    width: 100%;
    height: 250px;
    padding-bottom: 5rem;
    display: flex;
    justify-content: center;
}


}

body{
    background-color: black;
}








#Pic_of_me{
    border-radius: 150px;
    box-shadow: 3px 2px 3px 2px rgba(0, 247, 255, 0.11) ;
}


.my_name{
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
    font-family: 'GothSC';
    font-weight: bold;
    color: rgba(255, 255, 255, 0.555);
    text-shadow:
                1px 1px 2px rgb(33, 168, 51),
                0 0 1em rgba(0, 247, 255, 0.733),
                0 0 0.2em rgb(8, 175, 180);
}


.my_profession {
    text-align: center;
    color: rgba(255, 255, 255, 0.555);
    text-shadow:
                1px 1px 2px rgb(33, 168, 51),
                0 0 1em rgba(0, 247, 255, 0.733),
                0 0 0.2em rgb(8, 175, 180);
    font-family: 'GothSC';
}


.say_something{
    text-align: center;
    padding-top: 2rem;
    font-family: 'GothSC';
    color: rgba(255, 255, 255, 0.555);
    text-shadow:
                1px 1px 2px rgb(33, 168, 51),
                0 0 1em rgba(0, 247, 255, 0.733),
                0 0 0.2em rgb(8, 175, 180);
}


#TheList{
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    padding-top: 2rem;
    padding-bottom: 2rem;
}



.the_li{
    display: flex;
    justify-content: center;
}


.btn > a {
    font-size: 26px;
    font-family: 'GothSC';
    text-decoration:  none;
    color: white;
}


.FlexList{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 1rem;
    
}

.IDoWhat{
    margin: 0 auto ;
    display: flex;
    justify-content: center;
    height: auto;
    width: 90%;
    background-color: rgba(8, 174, 180, 0.438);
    box-shadow: 1px 1px 2px rgb(33, 168, 51),
                0 0 1em rgba(0, 247, 255, 0.733),
                0 0 0.2em rgb(8, 175, 180);
    padding-bottom: 2rem;
    margin-bottom: 2rem;

}


.text_ido{    
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'GothSC';
    padding-top: 2rem;
    
}


.agreements{
    margin: 0 auto ;
    display: flex;
    justify-content: center;
    height: auto;
    width: 100%;
    background-color: rgba(8, 174, 180, 0.438);
    box-shadow: 1px 1px 2px rgb(33, 168, 51),
                0 0 1em rgba(0, 247, 255, 0.733),
                0 0 0.2em rgb(8, 175, 180);
    padding-bottom: 2rem;
    margin-top: 12rem;
}


.plagiat{
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 2rem;
    font-family: 'GothSC';
}

.icon{
    display: flex;
    justify-content: center;
    padding-top: 1rem;

}

.icon_list{
    display: inline;
    /* flex-wrap: wrap; */

}


